:root {
  --primary: #08246b;
  --primary-hover: #0d236e;
  --bg-color: #f8fafc;
  --card-bg: #ffffff;
  --text-main: #121c2b;
  --text-muted: #103569;
  --border: #e2e8f0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.registration-card {
  background: var(--card-bg);
  width: 100%;
  max-width: 450px;
  padding: 10px 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
   background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-header h2 {
  color: var(--text-main);
  font-size: 28px;
  font-weight: 700;
}

.form-header p {
  color: rgb(6, 56, 127);
  font-size: 15px;
  font-weight: 600;
}

.input-group {
  /* margin-bottom: px; */
  display: flex;
  flex-direction: column;
}

.input-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.input-group label {
  font-size: 13px;
  font-weight: 600;
  color: var(--text-main);
  margin-bottom: 8px;
}

.input-group input, textarea {
  padding: 12px 16px;
  border: 1.5px solid var(--border);
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.3s ease;
  outline: none;
  color: #000;
}

.input-group input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 4px rgba(79, 70, 229, 0.1);
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: var(--primary-hover);
}

.footer-text {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  color: rgb(2, 49, 114);
}

.footer-text a {
  color: rgb(3, 38, 113);
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
}

.footer-text a:hover {
  text-decoration: underline;
}

/* Mobile Responsiveness */
@media (max-width: 480px) {
  .input-row {
    grid-template-columns: 1fr;
  }
}